body {
    padding-top: 10%;
    text-align: center;
    color: antiquewhite;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,29,1) 100%, rgba(0,212,255,1) 100%);;
}

#SourceCodeLink {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#AuthenticationCode {
    font-size: x-large;
}
